<?xml version="1.0"?>
<configuration>
  <system.web>
    <authorization>
      <allow roles="user"/>
      <deny users="*"/>
    </authorization>
  </system.web>
  <system.webServer>
    <handlers>
      <add name="ApiURIs-ISAPI-Integrated-4.0"
     path="/Users/*"
     verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS"
     type="System.Web.Handlers.TransferRequestHandler"
     preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <location path="Profile.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Default.aspx">
    <system.webServer>
      <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <remove name="ApiURIs-ISAPI-Integrated-4.0"/>
      </handlers>
  </system.webServer>
  </location>
</configuration>
