body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #3cb371;
    background: url("../images/vegetable-set-4.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    background-color: white;
    -ms-border-radius: 5px;
    border-radius: 5px;
    margin-top: 40px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar {
    border-top: 5px solid #008239;
}

.navbar-nav li:hover {
    background-color: #008239;
}

.navbar-nav li a {
    font-variant: small-caps;
    font-size: 1.2em;
}

.navbar-brand {
    background: url(../images/VegiJ-logo-with-space-30x55.png) no-repeat top left;
    display: block;
    width: 55px;
    height: 30px;
    text-indent: -9999px; /* hides the link text */
    margin-top: 8px;
    margin-right: 15px;
}

.jumbotron {
    margin-top: 15px;
}
.dropdown-menu {
    padding: 0;
}
.inverse-dropdown {
    background-color: #222 !important;
    border-color: #080808 !important;
}

    .inverse-dropdown > li > a {
        color: #999;
        padding: 10px 15px;
    }

        .inverse-dropdown > li > a:hover {
            color: #fff;
            background-color: #008239;
        }
