@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", new {area = ""},FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()
    
        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("Hello, " + User.Identity.Name + "!", "Index", "User", new { area = "Users", username = User.Identity.Name }, htmlAttributes: null)
            </li>
            <li>
                <a href="javascript:document.getElementById('logoutForm').submit()">
                    <span class="fa fa-sign-out"></span>Log off
                </a>
            </li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a href="@Url.Action("Register", "Account",  new { area = "" })" id ="registerLink"><span class="fa fa-user-plus"></span> Register</a></li>
        <li><a href="@Url.Action("Login", "Account", new { area = "" })" id="loginLink"><span class="fa fa-sign-in"></span> Log in</a></li>
    </ul>
}
