@using Kendo.Mvc.UI
<div class="">
    @(Html.Kendo().DropDownList()
                            .Name("Category")
                            .DataValueField("ID").DataTextField("Name")
                            .OptionLabel(new { Name = "Root", ID = "00000000-0000-0000-0000-000000000000" })
                            .MinLength(3)
                            //.Events(x => x.Select("onSelectCategoryValue"))
                            .DataSource(sorce => sorce
                                .Custom()
                                .Group(g => g.Add("ParentName", typeof(string)))
                                .Transport(transport => transport
                                .Read(read =>
                                        read.Action("Category_Read", "RecipesEditing")
                                    )
                                )
                            )
                            //.ValuePrimitive(true)
    )
    <span data-for="Category" class="k-invalid-msg"></span>
    <hr />
    <div class="input-group cat-input">
        <input id="newCategoryName" name="newCategoryName" type="text" class="form-control" placeholder="New Category Name"/>
        <input type="button" value="Add category" onclick="addNewCategory()" class="btn btn-success"/>
    </div>
</div>
<script>
    function addNewCategory(e) {
        var newCatTextBoxValue = document.getElementById("newCategoryName").value;
        if (newCatTextBoxValue.length >= 5) {
            var dropdownlist = $('#Category').data("kendoDropDownList");
            var parentCatID = dropdownlist.value();
            var newCatParentName = parentCatID === "root" ? "Root" : dropdownlist.text();
            var newCatItem = {
                ID: "00000000-0000-0000-0000-000000000000",
                Name: newCatTextBoxValue,
                ParentName: newCatParentName
            };

            $('#Category').data("kendoDropDownList").dataSource.add(newCatItem);
            $('#Category').data("kendoDropDownList")
                .select($('#Category').data("kendoDropDownList").dataSource.data().map(function (e) { return e.Name; }).indexOf(newCatItem.Name));
            console.log($('#Category')
                .data("kendoDropDownList")
                .dataSource.data().map(function(e) { return e.Name; })
                .indexOf(newCatItem.Name));
        }
    };
</script>