@using Kendo.Mvc.UI

<script>
    var newitemtext;
    function onSelectTags(e) {
        $(this).each(function () {
            $(this).text($(this).text().replace(" (Add New)", ""));
        });
    }
    function onTagsDataBound(e) {
        if ((newitemtext || this._prev) && newitemtext != this._prev) {
            newitemtext = this._prev;

            var dataitems = this.dataSource.data();

            for (var i = 0; i < dataitems.length; i++) {
                var dataItem = dataitems[i];
                console.log($("#Tags").data("kendoMultiSelect").value());
                //if ((dataItem.Name.replace(" (Add New)", "") === dataItem.ID ||
                //    dataItem.Name === " (Add New)") &&
                //    $("#Tags").data("kendoMultiSelect").value().indexOf(dataItem.ID) < 0) {
                //    this.dataSource.remove(dataItem);
                //} else
                    if (dataItem.ID === "00000000-0000-0000-0000-000000000000" &&
                    $("#Tags").data("kendoMultiSelect").value().indexOf(dataItem.ID) < 0) {
                    this.dataSource.remove(dataItem);
                }
            }

            dataitems = this.dataSource.data();
            var found = false;
            for (var i = 0; i < dataitems.length; i++) {
                dataItem = dataitems[i];
                if (dataItem.ID == newitemtext) {
                    found = true;
                }
            }

            if (!found && newitemtext !== "") {
                this.dataSource.add({ Name: newitemtext, ID: "00000000-0000-0000-0000-000000000000" });
                this.open();
            }
        }
    }
</script>

@(Html.Kendo().MultiSelect()
          .Name("Tags")
          .Placeholder("Add tags...")
          .DataValueField("ID")
          .DataTextField("Name")
          .Animation(false)
          .Events(e =>
          {
              e.DataBound("onTagsDataBound");
              e.Select("onSelectTags");
          }
          )
          .DataSource(sorce =>
                    sorce.Read(read =>
                        read.Action("Tags_Read", "RecipesEditing")
                        )
                    )
)
<span data-for="Tags" class="k-invalid-msg"></span>
