.RadButton_VegiJ {
  font-size: 1em;
  /* Primary Button styles */
  /* CheckBox and RadioButton Styles */
  /* Right to Left Support */ }
  .RadButton_VegiJ.rbButton {
    padding: 0.42857em 0.85714em;
    padding: 0.46429em 0.85714em \9;
    line-height: normal; }
  .RadButton_VegiJ _:-ms-fullscreen, :root .RadButton_VegiJ.rbButton {
    padding: 0.46429em 0.85714em; }
  .RadButton_VegiJ.rbButton,
  .RadButton_VegiJ .rbSplitPart {
    border-color: #eeeeee;
    color: #333333;
    background-color: #ffffff;
    background-image: linear-gradient(); }
  .RadButton_VegiJ.rbButton.rbHovered,
  .RadButton_VegiJ .rbSplitPart.rbHovered,
  .RadButton_VegiJ.rbButton:focus {
    border-color: #d0d0d0;
    color: #333333;
    background-color: #e6e6e6;
    background-image: linear-gradient();
    box-shadow: inset 0 0 1px #ffffff; }
  .RadButton_VegiJ.rbButton:focus {
    outline-width: thin;
    outline-offset: -2px;
    outline-color: #d0d0d0; }
  .RadButton_VegiJ.rbButton.rbSelected,
  .RadButton_VegiJ.rbButton.rbToggled,
  .RadButton_VegiJ.rbButton.rbSelected .rbSplitPart {
    border-color: #afafaf;
    color: #333333;
    background-color: #e6e6e6;
    background-image: linear-gradient();
    color: #333333;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.125) inset; }
  .RadButton_VegiJ .rbSplitPart {
    width: 2.28571em;
    height: 2.28571em; }
  .RadButton_VegiJ .rbSplitPartRight {
    margin: -0.35714em -0.85714em -0.21429em 0.35714em;
    margin: -0.35714em -0.85714em -0.21429em 0.35714em \9; }
  .RadButton_VegiJ _:-ms-fullscreen, :root .RadButton_VegiJ .rbSplitPartRight {
    margin: -0.35714em -0.85714em -0.28571em 0.35714em; }
  .RadButton_VegiJ .rbSplitPartLeft {
    margin: -0.35714em 0.35714em -0.21429em -0.85714em;
    margin: -0.35714em 0.35714em -0.21429em -0.85714em \9; }
  .RadButton_VegiJ _:-ms-fullscreen, :root .RadButton_VegiJ .rbSplitPartLeft {
    margin: -0.35714em 0.35714em -0.28571em -0.85714em; }
  .RadButton_VegiJ .rbSplitIcon {
    margin: 0.35714em 0em 0em 0.28571em;
    margin: 0.28571em 0 0 0.07143em \9; }
  .RadButton_VegiJ _:-ms-fullscreen, :root .RadButton_VegiJ .rbSplitIcon {
    margin: 0.28571em 0em 0em 0.07143em; }
  .RadButton_VegiJ .rbSplitPartRight.rbHovered {
    border-left-color: #d0d0d0; }
  .RadButton_VegiJ .rbSplitPartRight.rbSelected {
    border-left-color: #afafaf; }
  .RadButton_VegiJ .rbSplitPartLeft.rbHovered {
    border-right-color: #d0d0d0; }
  .RadButton_VegiJ .rbSplitPartLeft.rbSelected {
    border-right-color: #afafaf; }
  .RadButton_VegiJ.rbPrimaryButton {
    background-color: #006633;
    color: #ffffff;
    border-color: #004d26; }
    .RadButton_VegiJ.rbPrimaryButton.rbHovered,
    .RadButton_VegiJ.rbPrimaryButton.rbFocused {
      background-color: #00331a;
      color: #ffffff;
      border-color: #000f08;
      box-shadow: none; }
    .RadButton_VegiJ.rbPrimaryButton.rbFocused {
      outline-color: #ffffff; }
    .RadButton_VegiJ.rbPrimaryButton.rbSelected {
      background-color: #00331a;
      color: #ffffff;
      border-color: black;
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.125) inset; }
  .RadButton_VegiJ.rbCheckBox,
  .RadButton_VegiJ.rbRadioButton,
  .RadButton_VegiJ.rbToggleButton,
  .RadButton_VegiJ.rbCheckBox .rbIcon,
  .RadButton_VegiJ.rbRadioButton .rbIcon,
  .RadButton_VegiJ.rbToggleButton .rbIcon {
    color: #333333; }
  .RadButton_VegiJ.rbCheckBox.rbHovered,
  .RadButton_VegiJ.rbRadioButton.rbHovered,
  .RadButton_VegiJ.rbToggleButton.rbHovered,
  .RadButton_VegiJ.rbCheckBox.rbHovered .rbIcon,
  .RadButton_VegiJ.rbRadioButton.rbHovered .rbIcon,
  .RadButton_VegiJ.rbToggleButton.rbHovered .rbIcon,
  .RadButton_VegiJ.rbCheckBox.rbSelected .rbIcon,
  .RadButton_VegiJ.rbRadioButton.rbSelected .rbIcon,
  .RadButton_VegiJ.rbToggleButton.rbSelected .rbIcon {
    color: #428bca; }
  .RadButton_VegiJ.rbCheckBox.rbHovered.rbSelected,
  .RadButton_VegiJ.rbRadioButton.rbHovered.rbSelected,
  .RadButton_VegiJ.rbToggleButton.rbSelected.rbSelected,
  .RadButton_VegiJ.rbCheckBox.rbHovered.rbSelected .rbIcon,
  .RadButton_VegiJ.rbRadioButton.rbHovered.rbSelected .rbIcon,
  .RadButton_VegiJ.rbToggleButton.rbSelected.rbSelected .rbIcon {
    color: #3071a9; }
  .RadButton_VegiJ.rbButton.rbPrimaryButton.rbCheckBox,
  .RadButton_VegiJ.rbButton.rbPrimaryButton.rbRadioButton,
  .RadButton_VegiJ.rbButton.rbPrimaryButton.rbToggleButton,
  .RadButton_VegiJ.rbButton.rbPrimaryButton.rbCheckBox .rbIcon,
  .RadButton_VegiJ.rbButton.rbPrimaryButton.rbRadioButton .rbIcon,
  .RadButton_VegiJ.rbButton.rbPrimaryButton.rbToggleButton .rbIcon {
    color: #ffffff; }
  .RadButton_VegiJ.rbButton.rbRtl .rbSplitPart,
  .RadButton_VegiJ.rbButton.rbRtl .rbSplitPart.rbHovered {
    border-right-color: #eeeeee; }
  .RadButton_VegiJ.rbButton.rbRtl .rbSplitPart.rbSelected {
    border-right-color: #afafaf; }

span.RadButton_VegiJ.rbButton {
  padding: 0.14286em 0.85714em 0.07143em;
  padding: 0.21429em 0.85714em 0.14286em \9; }

_:-ms-fullscreen, :root span.RadButton_VegiJ.rbButton {
  padding: 0.21429em 0.85714em; }

span.RadButton_VegiJ.rbButton .rbText {
  vertical-align: sub; }
