.RadGrid_VegiJ {
  border: 1px solid #dddddd;
  border-radius: 4px;
  color: #333333;
  background-color: #ffffff; }
  .RadGrid_VegiJ .rgHeader,
  .RadGrid_VegiJ .rgCommandRow {
    height: 2.3em;
    background: #f5f5f5; }
  .RadGrid_VegiJ .rgMasterTable,
  .RadGrid_VegiJ .rgDetailTable,
  .RadGrid_VegiJ .rgGroupPanel table,
  .RadGrid_VegiJ .rgCommandRow table,
  .RadGrid_VegiJ .rgEditForm table {
    font: 14px/1.42857 "Helvetica Neue", Helvetica, Arial, sans-serif; }
  .RadGrid_VegiJ .rgActionButton {
    width: auto;
    height: auto; }
  .RadGrid_VegiJ .rgActionButton,
  .RadGrid_VegiJ .rgDrag,
  .RadGrid_VegiJ .rgDragClue,
  .RadGrid_VegiJ .rgExpandIcon,
  .RadGrid_VegiJ .rgCollapseIcon,
  .RadGrid_VegiJ .rgGroupPanelExpand,
  .RadGrid_VegiJ .rgGroupPanelCollapse,
  .RadGrid_VegiJ .rgButtonSortDesc,
  .RadGrid_VegiJ .rgButtonSortDesc,
  .RadGrid_VegiJ .rgButtonSortAsc,
  .RadGrid_VegiJ .rgButtonSortClear,
  .RadGrid_VegiJ .rgMobileExportForm .rgColumnItem,
  .RadGrid_VegiJ a.rgFilter,
  .RadGrid_VegiJ a.rgColumns {
    color: #333333; }
    .RadGrid_VegiJ .rgActionButton:hover,
    .RadGrid_VegiJ .rgDrag:hover,
    .RadGrid_VegiJ .rgDragClue:hover,
    .RadGrid_VegiJ .rgExpandIcon:hover,
    .RadGrid_VegiJ .rgCollapseIcon:hover,
    .RadGrid_VegiJ .rgGroupPanelExpand:hover,
    .RadGrid_VegiJ .rgGroupPanelCollapse:hover,
    .RadGrid_VegiJ .rgButtonSortDesc:hover,
    .RadGrid_VegiJ .rgButtonSortDesc:hover,
    .RadGrid_VegiJ .rgButtonSortAsc:hover,
    .RadGrid_VegiJ .rgButtonSortClear:hover,
    .RadGrid_VegiJ .rgMobileExportForm .rgColumnItem:hover,
    .RadGrid_VegiJ a.rgFilter:hover,
    .RadGrid_VegiJ a.rgColumns:hover {
      color: #333333; }
  .RadGrid_VegiJ .rgEdit,
  .RadGrid_VegiJ .rgDel {
    text-indent: 0; }
  .RadGrid_VegiJ .rgIcon {
    width: 1.6em;
    height: 1.6em;
    line-height: 1.6em;
    display: inline-block; }
    .RadGrid_VegiJ .rgIcon:before {
      width: 100%;
      height: 100%; }
  .RadGrid_VegiJ.rgMultiHeader .rgDataDiv > table,
  .RadGrid_VegiJ.rgMultiHeader .rgFooterDiv > table {
    margin-left: -1px; }
  .RadGrid_VegiJ .rgMobileMenu {
    background: #fcfcfc; }
  .RadGrid_VegiJ .rgMobileForm,
  .RadGrid_VegiJ .rgMobileColumnForm {
    background: #ffffff; }
  .RadGrid_VegiJ .rgValue {
    height: 2.42em;
    border: 1px solid #dddddd;
    font-size: 1em; }
  .RadGrid_VegiJ .rgColumnItem .rgDrag:before {
    border-right: 1px solid #f2f2f2; }
  .RadGrid_VegiJ .rgMobileGroupForm .rgMobileForm {
    border-color: #dddddd;
    background: #fcfcfc; }
  .RadGrid_VegiJ .rgHeader,
  .RadGrid_VegiJ th.rgResizeCol,
  .RadGrid_VegiJ .rgHeaderWrapper,
  .RadGrid_VegiJ .rgMultiHeaderRow th.rgHeader,
  .RadGrid_VegiJ .rgMultiHeaderRow th.rgResizeCol {
    border: 0;
    border-bottom: 1px solid #f2f2f2;
    border-left: 1px solid #f2f2f2; }
  .RadGrid_VegiJ .rgHeader,
  .RadGrid_VegiJ th.rgResizeCol,
  .RadGrid_VegiJ .rgHeaderWrapper {
    background-color: #f5f5f5; }
  .RadGrid_VegiJ .rgHeaderDiv {
    border-right: 1px solid #f2f2f2; }
  .RadGrid_VegiJ .rgHeaderWrapper {
    border-bottom: 1px solid #f2f2f2; }
  .RadGrid_VegiJ .rgHeader,
  .RadGrid_VegiJ .rgHeader a {
    color: #333333; }
  .RadGrid_VegiJ .rgRow > td {
    background-color: #ffffff;
    color: #333333; }
  .RadGrid_VegiJ .rgRow > td,
  .RadGrid_VegiJ .rgAltRow > td,
  .RadGrid_VegiJ .rgFooter > td {
    border-color: #f2f2f2; }
  .RadGrid_VegiJ .rgRow > td,
  .RadGrid_VegiJ .rgAltRow > td {
    padding: 0.35714em 0.5em 0.28571em 0.5em;
    height: 2.28571em;
    border-style: solid;
    border-width: 0 0 1px 1px; }
  .RadGrid_VegiJ .rgAltRow > td {
    background-color: #f9f9f9;
    color: #333333; }
  .RadGrid_VegiJ .rgAltRow .rgSorted {
    background-color: #ececec; }
  .RadGrid_VegiJ .rgAltRow.rgHoveredRow .rgSorted {
    background-color: #dddddd; }
  .RadGrid_VegiJ .rgActiveRow td:not(.rgExpandCol) {
    box-shadow: inset 0px 5px 5px -5px #00331a, inset 0px -5px 5px -5px #00331a; }
  .RadGrid_VegiJ .rgActiveRow td:first-child:not(.rgExpandCol),
  .RadGrid_VegiJ .rgActiveRow .rgExpandCol + td {
    box-shadow: inset 0px 5px 5px -5px #00331a, inset 0px -5px 5px -5px #00331a, inset 5px 0px 5px -5px #00331a; }
  .RadGrid_VegiJ .rgActiveRow td:not(.rgExpandCol):last-child {
    box-shadow: inset 0px 5px 5px -5px #00331a, inset 0px -5px 5px -5px #00331a, inset -5px 0px 5px -5px #00331a; }
  .RadGrid_VegiJ .rgActiveCell {
    box-shadow: inset 0 0 5px #00331a; }
  .RadGrid_VegiJ .rgHoveredRow > td {
    background: #eeeeee;
    color: #000000; }
  .RadGrid_VegiJ .rgEditRow {
    background: #ffffff; }
    .RadGrid_VegiJ .rgEditRow > td {
      border-style: solid;
      border-width: 0 0 1px 0;
      border-color: #f2f2f2; }
      .RadGrid_VegiJ .rgEditRow > td input {
        padding: 0 0.5em;
        height: 2.42857em;
        line-height: 2.42857em;
        border: 1px solid #dddddd;
        border-radius: 0.28571em;
        font-size: 1em; }
        .RadGrid_VegiJ .rgEditRow > td input[type="image"] {
          width: auto;
          height: auto; }
  .RadGrid_VegiJ .rgSorted {
    background-color: #e4e4e4; }
  .RadGrid_VegiJ .rgMasterTable .rgSelectedCell,
  .RadGrid_VegiJ .rgSelectedRow td,
  .RadGrid_VegiJ td.rgEditRow .rgSelectedRow,
  .RadGrid_VegiJ .rgSelectedRow td.rgSorted {
    color: #ffffff;
    background: #006633;
    border-color: #ffffff; }
  .RadGrid_VegiJ .rgSelectedRow.rgHoveredRow {
    background: #006633; }
  .RadGrid_VegiJ .rgSelectedCell a,
  .RadGrid_VegiJ .rgSelectedRow a {
    color: #ffffff; }
  .RadGrid_VegiJ .rgFooterWrapper,
  .RadGrid_VegiJ .rgFooter {
    background: #f5f5f5; }
  .RadGrid_VegiJ .rgFooterWrapper {
    border-top: 1px solid #f2f2f2; }
    .RadGrid_VegiJ .rgFooterWrapper tr.rgFooter td {
      border-bottom-width: 0; }
  .RadGrid_VegiJ .rgFooter > td {
    border-left: 1px solid #f2f2f2;
    padding: 0.71429em 0.35714em; }
    .RadGrid_VegiJ .rgFooter > td:first-child {
      border-left-width: 0; }
  .RadGrid_VegiJ .rgPager .rgStatus {
    width: 3.36em;
    background-color: #f5f5f5;
    border-right: 0 none; }
  .RadGrid_VegiJ .rgStatus div {
    width: auto;
    height: 2.5em;
    background-image: url("images/Common/loading_small.gif");
    background-position: 50% 50%;
    background-repeat: no-repeat; }
  .RadGrid_VegiJ .rgPagerCell {
    color: #333333;
    background: #f5f5f5;
    border-top: 1px solid #dddddd; }
    .RadGrid_VegiJ .rgPagerCell .rgWrap {
      padding: 0; }
    .RadGrid_VegiJ .rgPagerCell .rgNumPart a,
    .RadGrid_VegiJ .rgPagerCell .rgPagerButton,
    .RadGrid_VegiJ .rgPagerCell .rgActionButton {
      border-width: 1px;
      border-style: solid;
      box-sizing: content-box;
      border-color: #eeeeee;
      color: #333333;
      background-color: #ffffff;
      font-size: 1em; }
      .RadGrid_VegiJ .rgPagerCell .rgNumPart a:hover,
      .RadGrid_VegiJ .rgPagerCell .rgPagerButton:hover,
      .RadGrid_VegiJ .rgPagerCell .rgActionButton:hover {
        border-color: #d0d0d0;
        color: #333333;
        background-color: #e6e6e6; }
    .RadGrid_VegiJ .rgPagerCell .rgNumPart a,
    .RadGrid_VegiJ .rgPagerCell .rgActionButton {
      margin: 0;
      width: 1.42857em;
      border-left-width: 0; }
    .RadGrid_VegiJ .rgPagerCell .rgNumPart a {
      border-radius: 0;
      text-align: center; }
      .RadGrid_VegiJ .rgPagerCell .rgNumPart a.rgCurrentPage {
        border-color: #004d26;
        color: #ffffff;
        background-color: #006633; }
    .RadGrid_VegiJ .rgPagerCell .rgPageFirst {
      border-left-width: 1px;
      border-radius: 0.28571em 0 0 0.28571em; }
    .RadGrid_VegiJ .rgPagerCell .rgPageLast {
      border-radius: 0 0.28571em 0.28571em 0; }
    .RadGrid_VegiJ .rgPagerCell .NumericPages .rgNumPart a:first-child {
      border-left-width: 1px;
      border-radius: 0.28571em 0 0 0.28571em; }
    .RadGrid_VegiJ .rgPagerCell .NumericPages .rgNumPart a:last-child {
      border-radius: 0 0.28571em 0.28571em 0; }
    .RadGrid_VegiJ .rgPagerCell .rgActionButton {
      box-sizing: content-box; }
    .RadGrid_VegiJ .rgPagerCell .rgPagerButton {
      border-radius: 0.28571em; }
  .RadGrid_VegiJ .rgGroupPanel {
    margin: -1px;
    padding: .71em;
    border-bottom: 1px solid #f2f2f2;
    background: #f5f5f5; }
  .RadGrid_VegiJ .rgGroupItem {
    padding: 0 0.5em;
    border: 1px solid #dddddd;
    color: #333333; }
  .RadGrid_VegiJ .rgGroupHeader td {
    padding: .5em 0;
    height: 2.3em;
    border-bottom: 1px solid #f2f2f2;
    background: #fbfbfb; }
  .RadGrid_VegiJ .rgGroupHeader .rgGroupCol {
    border-bottom-width: 0; }
  .RadGrid_VegiJ .rgRow .rgGroupCol,
  .RadGrid_VegiJ .rgAltRow .rgGroupCol {
    border-bottom-width: 0;
    background: #fbfbfb; }
  .RadGrid_VegiJ .rgMasterTable > tbody tr:first-child .rgGroupCol {
    border-top-width: 0; }
  .RadGrid_VegiJ table.rgMasterTable .rgGroupCol {
    border-left-width: 0; }
  .RadGrid_VegiJ .rgFooter .rgGroupCol,
  .RadGrid_VegiJ .rgFooter .rgGroupCol ~ td {
    border-bottom: 1px solid #f2f2f2; }
  .RadGrid_VegiJ td.rgGroupCol {
    background: #fbfbfb !important; }
  .RadGrid_VegiJ .rgFilterRow > td {
    padding-top: .5em;
    padding-bottom: .5em;
    border-bottom: 1px solid #f2f2f2; }
  .RadGrid_VegiJ .rgFilterRow .RadPicker .RadInput {
    width: 100%; }
  .RadGrid_VegiJ .rgFilterBox {
    padding-top: 0;
    padding-bottom: 0;
    height: 32px;
    color: #555555;
    border: 1px solid #dddddd;
    border-radius: 0.28571em 0 0 0.28571em; }
  .RadGrid_VegiJ .rgFilter {
    margin-left: -1px;
    width: 2.28571em;
    height: 2.28571em;
    border: 1px solid #dddddd;
    border-radius: 0 0.28571em 0.28571em 0;
    background-color: #ffffff;
    box-sizing: content-box; }
    .RadGrid_VegiJ .rgFilter:hover {
      background-color: #e6e6e6; }
    .RadGrid_VegiJ .rgFilter .rgIcon {
      line-height: 1.9; }
  * + html .RadGrid_VegiJ .rgFilter {
    height: 34px; }
  .RadGrid_VegiJ .rgFilterRow .riTextBox {
    border-radius: 0.28571em 0 0 0.28571em; }
  .RadGrid_VegiJ a.rcCalPopup,
  .RadGrid_VegiJ a.rcTimePopup {
    margin-right: 0;
    border-radius: 0; }
  .RadGrid_VegiJ .rgFiltered,
  .RadGrid_VegiJ .rgFiltered:hover {
    background-color: #e6e6e6; }
  .RadGrid_VegiJ .rgFilterRow .riSingle .riTextBox {
    vertical-align: top; }
  .RadGrid_VegiJ .rgEditForm .rgHeader {
    padding: 10px;
    border-left-width: 0; }
  .RadGrid_VegiJ .rgEditFormContainer table {
    padding-left: 10px; }
  .RadGrid_VegiJ .rgRow [type="text"],
  .RadGrid_VegiJ .rgAltRow [type="text"],
  .RadGrid_VegiJ .rgEditForm [type="text"] {
    padding: 0 0.5em;
    height: 32px;
    border: 1px solid #dddddd;
    border-radius: .3em; }
  .RadGrid_VegiJ .RadComboBox .rcbInput {
    border: 0 none;
    padding: 0; }
  .RadGrid_VegiJ .rgEditFormContainer {
    padding-top: 10px; }
    .RadGrid_VegiJ .rgEditFormContainer .rgUpdate {
      margin-left: 0.71429em; }
    .RadGrid_VegiJ .rgEditFormContainer .rgUpdate,
    .RadGrid_VegiJ .rgEditFormContainer .rgCancel {
      width: 2.28571em;
      height: 2.28571em;
      background-color: #ffffff;
      border: 1px solid #eeeeee;
      border-radius: 0.28571em; }
      .RadGrid_VegiJ .rgEditFormContainer .rgUpdate:hover,
      .RadGrid_VegiJ .rgEditFormContainer .rgCancel:hover {
        background-color: #e6e6e6; }
      .RadGrid_VegiJ .rgEditFormContainer .rgUpdate .rgIcon,
      .RadGrid_VegiJ .rgEditFormContainer .rgCancel .rgIcon {
        width: auto;
        height: auto; }
  .RadGrid_VegiJ .rgDetailTable {
    border-color: #f2f2f2; }
    .RadGrid_VegiJ .rgDetailTable .rgRow td:first-child,
    .RadGrid_VegiJ .rgDetailTable .rgAltRow td:first-child {
      border-left-width: 0; }
  .RadGrid_VegiJ .rgFooter .rgExpandCol {
    border-left-width: 0; }
  .RadGrid_VegiJ .rgRow .rgExpandCol,
  .RadGrid_VegiJ .rgRow .rgCollapseCol,
  .RadGrid_VegiJ .rgAltRow .rgExpandCol,
  .RadGrid_VegiJ .rgAltRow .rgCollapseCol {
    border-left-width: 0; }
  .RadGrid_VegiJ .rgCommandRow {
    background-color: #f5f5f5;
    border-bottom: 1px solid #f2f2f2; }
    .RadGrid_VegiJ .rgCommandRow .rgAdd .rgIcon:hover,
    .RadGrid_VegiJ .rgCommandRow .rgSave .rgIcon:hover,
    .RadGrid_VegiJ .rgCommandRow .rgCancel .rgIcon:hover,
    .RadGrid_VegiJ .rgCommandRow .rgRefresh .rgIcon:hover {
      border: 1px solid #eeeeee;
      background: #e6e6e6; }
    .RadGrid_VegiJ .rgCommandRow .rgIcon {
      width: 1.6em;
      height: 1.6em;
      line-height: 1.6em;
      border: 1px solid transparent;
      border-radius: 0.2em;
      font-size: 1.4em; }
  .RadGrid_VegiJ .rgCommandCell {
    height: 2.85714em;
    padding: 0 0.71429em;
    border: 0;
    border-bottom: 1px solid #f2f2f2; }
  .RadGrid_VegiJ tfoot .rgCommandCell,
  .RadGrid_VegiJ .rgMasterTable > tbody > tr.rgCommandRow .rgCommandCell {
    border-top: 1px solid #f2f2f2;
    border-bottom: 0; }
  .RadGrid_VegiJ .rgCommandTable td {
    border: 0;
    padding: 0.14em 0.5em; }

.GridItemDropIndicator_VegiJ {
  border-top: 1px dashed #666; }

.GridToolTip_VegiJ {
  border: 1px solid #c98400;
  padding: 3px;
  background: #ffefbd;
  color: #333; }

.RadGridRTL_VegiJ .rgHeader:first-child,
.RadGridRTL_VegiJ th.rgResizeCol:first-child,
.RadGridRTL_VegiJ .rgFilterRow > td:first-child,
.RadGridRTL_VegiJ .rgRow > td:first-child,
.RadGridRTL_VegiJ .rgAltRow > td:first-child {
  border-left-width: 1px;
  padding-left: 7px; }

.GridContextMenu_VegiJ .rgHCMClear,
.GridContextMenu_VegiJ .rgHCMFilter {
  font-size: 1em;
  height: 2.42857em;
  border-color: #eeeeee;
  color: #333333;
  background-color: #ffffff;
  border-radius: 0.28571em; }
  .GridContextMenu_VegiJ .rgHCMClear:hover,
  .GridContextMenu_VegiJ .rgHCMFilter:hover {
    border-color: #d0d0d0;
    color: #333333;
    background-color: #e6e6e6; }

.GridContextMenu_VegiJ .rmGroup .rgHCMItem div.rmContent {
  padding: 15px;
  margin: 0 auto; }
