.RadListBox_VegiJ {
  line-height: 1.42857; }
  .RadListBox_VegiJ .rlbButton {
    border-color: #eeeeee;
    color: #333333;
    background-color: #ffffff;
    padding: 0.35714em;
    border-radius: 4px; }
    .RadListBox_VegiJ .rlbButton:hover:not(.rlbDisabled) {
      border-color: #d0d0d0;
      color: #333333;
      background-color: #e6e6e6; }
    .RadListBox_VegiJ .rlbButton:active:not(.rlbDisabled) {
      border-color: #afafaf;
      color: #333333;
      background-color: #e6e6e6; }
  .RadListBox_VegiJ .rlbGroup,
  .RadListBox_VegiJ .rlbTemplateContent {
    border-color: #dddddd;
    color: #333333;
    background-color: #ffffff; }
  .RadListBox_VegiJ .rlbHeader,
  .RadListBox_VegiJ .rlbFooter {
    padding: 3px 12px;
    border-color: #dddddd;
    color: #333333;
    background-color: #f5f5f5; }
  .RadListBox_VegiJ .rlbList {
    padding: 0; }
  .RadListBox_VegiJ .rlbCheckAllItems {
    color: #333333;
    background-color: #f5f5f5; }
  .RadListBox_VegiJ .rlbCheckAllItemsHovered {
    color: #333333;
    background-color: #e4e4e4; }
  .RadListBox_VegiJ .rlbCheck {
    margin-left: -4px;
    margin-right: 4px; }
  .RadListBox_VegiJ .rlbItem.rlbSelected .rlbCheck:hover {
    background-position: 0 0; }
  .RadListBox_VegiJ .rlbItem {
    padding: 3px 12px; }
  .RadListBox_VegiJ .rlbHighlight {
    border-color: #e1e1e1;
    color: #000000;
    background-color: #eeeeee;
    background-image: linear-gradient(); }
  .RadListBox_VegiJ .rlbItem.rlbHovered {
    border-color: #e1e1e1;
    color: #000000;
    background-color: #eeeeee;
    background-image: linear-gradient(); }
  .RadListBox_VegiJ .rlbItem.rlbSelected {
    border-color: #00331a;
    color: #ffffff;
    background-color: #006633;
    background-image: linear-gradient(); }
  .RadListBox_VegiJ .rlbImage {
    margin-left: -4px;
    margin-right: 4px;
    padding: 0; }
  .RadListBox_VegiJ .rlbGroup .rlbSelected.rlbDropClueAbove {
    border-top-color: #fff; }
  .RadListBox_VegiJ .rlbGroup .rlbSelected.rlbDropClueBelow {
    border-bottom-color: #fff; }

.RadListBox_VegiJ[dir="rtl"] .rlbCheck {
  margin-left: 4px;
  margin-right: -4px; }

.RadListBox_VegiJ[dir="rtl"] .rlbImage {
  margin-left: 4px;
  margin-right: -4px; }

.RadListBox_VegiJ.RadListBoxButtonAreaTop.rlbFixedHeight .rlbGroup,
.RadListBox_VegiJ.RadListBoxButtonAreaTop.rlbFixedHeight .rlbTemplate {
  top: 2.42857em; }

.RadListBox_VegiJ.RadListBoxButtonAreaBottom.rlbFixedHeight .rlbGroup,
.RadListBox_VegiJ.RadListBoxButtonAreaBottom.rlbFixedHeight .rlbTemplate {
  bottom: 2.42857em; }
