.RadMenu_VegiJ {
  color: #333333;
  background-color: #f5f5f5;
  line-height: 1.42857; }
  .RadMenu_VegiJ .rmLink {
    text-decoration: none; }
  .RadMenu_VegiJ .rmIcon {
    line-height: 1.4em; }
  .RadMenu_VegiJ .rmRootGroup {
    border-color: #dddddd;
    color: #333333;
    background-color: #f5f5f5; }
  .RadMenu_VegiJ .rmRootGroup.rmVertical > .rmItem,
  .RadMenu_VegiJ .rmRootGroup.rmVertical > .rmRootScrollGroup > .rmItem {
    float: none; }
  .RadMenu_VegiJ .rmRootGroup > .rmItem,
  .RadMenu_VegiJ .rmRootGroup > .rmRootScrollGroup > .rmItem {
    border-width: 0; }
  .RadMenu_VegiJ .rmRootGroup .rmRootLink {
    padding: 15px;
    color: #333333; }
  .RadMenu_VegiJ .rmVertical .rmRootLink {
    padding-top: 10px;
    padding-bottom: 10px; }
  .RadMenu_VegiJ .rmRootLink .rmText,
  .RadMenu_VegiJ .rmVertical .rmRootLink .rmText {
    padding: 0; }
  .RadMenu_VegiJ .rmRootLink:hover {
    color: #333333;
    background-color: #e4e4e4; }
  .RadMenu_VegiJ .rmSelected .rmRootLink,
  .RadMenu_VegiJ .rmExpanded .rmRootLink {
    color: #333333;
    background-color: #e4e4e4; }
  .RadMenu_VegiJ .rmDisabled .rmRootLink {
    color: #777777;
    border-color: transparent;
    background-color: transparent; }
  .RadMenu_VegiJ .rmRootGroup.rmHorizontal > .rmSeparator,
  .RadMenu_VegiJ .rmRootGroup.rmHorizontal > .rmRootScrollGroup > .rmSeparator {
    display: none; }
  .RadMenu_VegiJ .rmRootGroup.rmVertical > .rmItem.rmSeparator,
  .RadMenu_VegiJ .rmRootGroup.rmVertical > .rmRootScrollGroup > .rmItem.rmSeparator {
    margin: 9px 0;
    height: 1px;
    border-width: 0;
    overflow: hidden;
    background-color: #e5e5e5; }
  .RadMenu_VegiJ .rmGroup,
  .RadMenu_VegiJ .rmMultiColumn {
    padding: 0;
    border: 1px solid #dddddd;
    border-radius: 4px;
    color: #333333;
    background-color: #ffffff; }
  .RadMenu_VegiJ .rmGroup.rmVertical {
    padding: 5px 0; }
  .RadMenu_VegiJ .rmGroup.rmHorizontal {
    padding: 5px; }
  .RadMenu_VegiJ .rmSlide .rmScrollWrap .rmHorizontal {
    padding: 5px; }
  .RadMenu_VegiJ .rmGroup .rmLink {
    padding: 3px 30px;
    color: #333333; }
  .RadMenu_VegiJ .rmGroup .rmLink .rmText {
    padding: 0;
    margin: 0; }
  .RadMenu_VegiJ .rmGroup .rmLink:hover {
    border-color: #e1e1e1;
    color: #000000;
    background-color: #eeeeee; }
  .RadMenu_VegiJ .rmGroup .rmSelected > .rmLink,
  .RadMenu_VegiJ .rmGroup .rmSelected > .rmLink:hover,
  .RadMenu_VegiJ .rmGroup .rmExpanded > .rmLink,
  .RadMenu_VegiJ .rmGroup .rmExpanded > .rmLink:hover {
    border-color: #00331a;
    color: #ffffff;
    background-color: #006633; }
  .RadMenu_VegiJ .rmGroup .rmDisabled > .rmLink,
  .RadMenu_VegiJ .rmGroup .rmDisabled > .rmLink:hover {
    color: #777777;
    border-color: transparent;
    background-color: transparent; }
  .RadMenu_VegiJ .rmSeparator {
    border-color: #dddddd transparent transparent #dddddd; }
  .RadMenu_VegiJ .rmLeftArrow,
  .RadMenu_VegiJ .rmRightArrow,
  .RadMenu_VegiJ .rmTopArrow,
  .RadMenu_VegiJ .rmBottomArrow {
    border-color: #eeeeee;
    color: #333333;
    background-color: #ffffff;
    border-width: 0;
    border-style: solid; }
    .RadMenu_VegiJ .rmLeftArrow:hover,
    .RadMenu_VegiJ .rmRightArrow:hover,
    .RadMenu_VegiJ .rmTopArrow:hover,
    .RadMenu_VegiJ .rmBottomArrow:hover {
      border-color: #d0d0d0;
      color: #333333;
      background-color: #e6e6e6; }
  .RadMenu_VegiJ .rmLeftArrow,
  .RadMenu_VegiJ .rmRightArrow {
    height: 100%; }
  .RadMenu_VegiJ .rmLeftArrow {
    border-right-width: 1px; }
  .RadMenu_VegiJ .rmRightArrow {
    border-left-width: 1px; }
  .RadMenu_VegiJ .rmTopArrow {
    border-bottom-width: 1px; }
  .RadMenu_VegiJ .rmBottomArrow {
    border-top-width: 1px; }
  .RadMenu_VegiJ .rmTopFix,
  .RadMenu_VegiJ .rmTopLeft,
  .RadMenu_VegiJ .rmTopRight,
  .RadMenu_VegiJ .rmBottomFix,
  .RadMenu_VegiJ .rmBottomLeft,
  .RadMenu_VegiJ .rmBottomRight {
    display: none; }
