.RadTabStrip_VegiJ {
  color: #333333;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }
  .RadTabStrip_VegiJ .rtsLevel1 {
    border-color: #dddddd; }
    .RadTabStrip_VegiJ .rtsLevel1 .rtsLink {
      border-color: transparent;
      color: #006633; }
    .RadTabStrip_VegiJ .rtsLevel1 .rtsHovered .rtsLink {
      border-color: #eeeeee;
      color: #003300;
      background-color: #eeeeee; }
    .RadTabStrip_VegiJ .rtsLevel1 .rtsSelected .rtsLink {
      border-color: #dddddd;
      color: #333333;
      background-color: #ffffff; }
    .RadTabStrip_VegiJ .rtsLevel1 .rtsFocused .rtsLink {
      border-color: #66afe9;
      box-shadow: inset 0 0 5px #66afe9; }
  .RadTabStrip_VegiJ .rtsLevel1 ~ .rtsLevel {
    border-color: #dddddd;
    color: #333333;
    background-color: #ffffff; }
    .RadTabStrip_VegiJ .rtsLevel1 ~ .rtsLevel .rtsLink {
      color: #006633; }
    .RadTabStrip_VegiJ .rtsLevel1 ~ .rtsLevel .rtsHovered .rtsLink {
      color: #003300; }
    .RadTabStrip_VegiJ .rtsLevel1 ~ .rtsLevel .rtsSelected .rtsLink {
      color: #333333; }
    .RadTabStrip_VegiJ .rtsLevel1 ~ .rtsLevel .rtsFocused .rtsLink {
      border-color: #c4c4c4;
      box-shadow: inset 0 0 5px #c4c4c4; }
  .RadTabStrip_VegiJ .rtsGhostTab {
    border-color: #dddddd;
    border-radius: 4px;
    color: #333333;
    background-color: #f5f5f5; }

.RadTabStrip.rtsTop .rtsLevel1 .rtsLink {
  border-radius: 4px 4px 0 0; }

.RadTabStrip.rtsTop .rtsLevel1 .rtsSelected .rtsLink {
  border-bottom-color: transparent; }

.RadTabStrip.rtsBottom .rtsLevel1 .rtsLink {
  border-radius: 0 0 4px 4px; }

.RadTabStrip.rtsBottom .rtsLevel1 .rtsSelected .rtsLink {
  border-top-color: transparent; }

.RadTabStrip.rtsLeft .rtsLevel1 .rtsLink {
  border-radius: 4px 0 0 4px; }

.RadTabStrip.rtsLeft .rtsLevel1 .rtsSelected .rtsLink {
  border-right-color: transparent; }

.RadTabStrip.rtsRight .rtsLevel1 .rtsLink {
  border-radius: 0 4px 4px 0; }

.RadTabStrip.rtsRight .rtsLevel1 .rtsSelected .rtsLink {
  border-left-color: transparent; }
