.RadToolBar_VegiJ {
  color: #333333;
  border-color: #dddddd;
  background-color: #f5f5f5; }

.RadToolBar_VegiJ .rtbItem + .rtbItem {
  margin-left: 5px; }

.RadToolBar_VegiJ .rtbArrow {
  padding: 2px 10px;
  margin-right: -10px; }

.RadToolBar_VegiJ .rtbSeparator {
  border-color: transparent #fff transparent #eeeeee; }

.RadToolBar_VegiJ .rtbButton {
  padding: 6px 12px;
  color: #333333;
  border-color: #eeeeee;
  background-color: #ffffff;
  border-radius: 0.28571em; }

.RadToolBar_VegiJ .rtbSplitButton .rtbArrow {
  border-color: #eeeeee; }

.RadToolBar_VegiJ .rtbHovered .rtbButton {
  color: #333333;
  border-color: #d0d0d0;
  background-color: #e6e6e6; }

.RadToolBar_VegiJ .rtbFocused .rtbButton {
  box-shadow: 0 0 3px 1px #afafaf inset; }

.RadToolBar_VegiJ .rtbPressed .rtbButton,
.RadToolBar_VegiJ .rtbChecked .rtbButton,
.RadToolBar_VegiJ .rtbExpanded .rtbButton {
  color: #333333;
  border-color: #afafaf;
  background-color: #e6e6e6; }

.RadToolBar_Vertical .rtbSeparator {
  border-color: #eeeeee transparent #fff transparent; }

.rtbPopup_VegiJ {
  color: #333333;
  border-color: #dddddd;
  background-color: #ffffff; }
  .rtbPopup_VegiJ.rtbRoundedCorners {
    border-radius: 0.28571em; }
  .rtbPopup_VegiJ .rtbSeparator {
    border-color: #eeeeee; }
  .rtbPopup_VegiJ .rtbItem .rtbLink {
    border-radius: 0.28571em; }
  .rtbPopup_VegiJ .rtbItem.rtbHovered .rtbLink {
    color: #000000;
    border-color: #e1e1e1;
    background-color: #eeeeee; }
  .rtbPopup_VegiJ .rtbImage {
    margin-left: -24px;
    margin-right: 8px; }

.RadToolBar_VegiJ_rtl .rtbItem + .rtbItem {
  margin-left: 0;
  margin-right: 5px; }

.RadToolBar_VegiJ_rtl .rtbArrow {
  margin-left: -10px;
  margin-right: 0; }

.RadToolBar_VegiJ_rtl .rtbSplitButton .rtbArrow {
  margin-left: -10px;
  margin-right: 8px; }

.RadToolBarDropDown_VegiJ_rtl .rtbImage {
  margin-left: 8px;
  margin-right: -24px; }
