.RadTreeView_VegiJ {
  color: #333333; }
  .RadTreeView_VegiJ .rtLI {
    margin-top: 1px;
    overflow: hidden; }
  .RadTreeView_VegiJ .rtImg {
    position: relative;
    margin: 0em -1.42857em 0em 0.5em;
    zoom: 1; }
  .RadTreeView_VegiJ .rtIn {
    margin: 0.14286em 0em;
    padding: 0.14286em 0.57143em;
    border-radius: 0.28571em; }
  .RadTreeView_VegiJ .rtImg + .rtIn {
    padding-left: 1.78571em; }
  .RadTreeView_VegiJ .rtHover .rtIn {
    border-color: #e1e1e1;
    color: #000000;
    background-color: #eeeeee; }
  .RadTreeView_VegiJ .rtSelected .rtIn {
    border-color: #00331a;
    color: #ffffff;
    background-color: #006633; }
  .RadTreeView_VegiJ .rtChecked,
  .RadTreeView_VegiJ .rtUnchecked,
  .RadTreeView_VegiJ .rtIndeterminate {
    background-image: url("images/Common/radFormToggleSprite.png"); }
  .RadTreeView_VegiJ .rtLoadingIcon {
    background-image: url("images/Common/loading_small.gif"); }
  .RadTreeView_VegiJ .rtPlus,
  .RadTreeView_VegiJ .rtMinus {
    top: .2em;
    left: .2em; }
  .RadTreeView_VegiJ .rtPlusHover,
  .RadTreeView_VegiJ .rtMinusHover {
    color: #006633; }
  .RadTreeView_VegiJ .rtLines .rtLI:before,
  .RadTreeView_VegiJ .rtLines .rtTop:before,
  .RadTreeView_VegiJ .rtLines .rtMid:before,
  .RadTreeView_VegiJ .rtLines .rtBot:before {
    border-color: #dddddd; }
