.TreeListToolTip_VegiJ {
  font: 14px/1.42857 "Helvetica Neue", Helvetica, Arial, sans-serif; }

.RadTreeList_VegiJ {
  border-color: #dddddd;
  background: #ffffff;
  color: #333333;
  font: 14px/1.42857 "Helvetica Neue", Helvetica, Arial, sans-serif;
  /*>>Expand/Collapse*/
  /*<<Expand/Collapse*/
  /*>>Editing*/
  /*<<Editing*/
  /*>>Sorting*/
  /*<<Sorting*/ }
  .RadTreeList_VegiJ .rtlTable a {
    color: #006633; }
  .RadTreeList_VegiJ .rtlTable td {
    vertical-align: middle; }
  .RadTreeList_VegiJ .rtlHeader {
    background-color: #f5f5f5; }
  .RadTreeList_VegiJ .rtlHeader th,
  .RadTreeList_VegiJ .rtlREdit td,
  .RadTreeList_VegiJ .rtlR td,
  .RadTreeList_VegiJ .rtlA td {
    padding: 0.3em 0.5em;
    height: 2.25em; }
  .RadTreeList_VegiJ .rtlHeader a {
    color: #333333; }
  .RadTreeList_VegiJ div.rtlHeader,
  .RadTreeList_VegiJ .rtlScroller,
  .RadTreeList_VegiJ .rtlHeader th {
    border-color: #f2f2f2; }
  .RadTreeList_VegiJ .rtlA {
    background-color: #f9f9f9;
    color: #333333; }
  .RadTreeList_VegiJ .rtlRFooter {
    background-color: #f5f5f5; }
  .RadTreeList_VegiJ .rtlRFooter td {
    border-color: #dddddd; }
  .RadTreeList_VegiJ .rtlREdit {
    background-color: #00994d; }
  .RadTreeList_VegiJ .rtlR td,
  .RadTreeList_VegiJ .rtlA td,
  .RadTreeList_VegiJ .rtlREdit td,
  .RadTreeList_VegiJ .rtlEditForm {
    border-color: #f2f2f2; }
  .RadTreeList_VegiJ .rtlRSel {
    background: #006633;
    color: #ffffff; }
    .RadTreeList_VegiJ .rtlRSel .rtlActionButton:hover .rtlIcon {
      color: #333333; }
  .RadTreeList_VegiJ .rtlRSel a {
    color: #ffffff; }
  .RadTreeList_VegiJ .rtlRSel {
    background-color: #006633; }
  .RadTreeList_VegiJ .rtlRActive .rtlCF {
    box-shadow: inset 0px 5px 5px -5px #00331a, inset 0px -5px 5px -5px #00331a, inset 5px 0px 5px -5px #00331a; }
  .RadTreeList_VegiJ .rtlRActive .rtlCF ~ td {
    box-shadow: inset 0px 5px 5px -5px #00331a, inset 0px -5px 5px -5px #00331a; }
  .RadTreeList_VegiJ .rtlRActive .rtlCF ~ td:last-child {
    box-shadow: inset 0px 5px 5px -5px #00331a, inset 0px -5px 5px -5px #00331a, inset -5px 0px 5px -5px #00331a; }
  .RadTreeList_VegiJ .rtlRActive td {
    border-color: #00331a; }
  .RadTreeList_VegiJ .rtlVBorders td.rtlL,
  .RadTreeList_VegiJ .rtlLines td.rtlL {
    background-color: #ffffff; }
  .RadTreeList_VegiJ .rtlActionButton {
    width: 2.28571em;
    height: 2.28571em;
    box-sizing: content-box;
    border: 1px solid transparent;
    background: none;
    font-size: 1em; }
    .RadTreeList_VegiJ .rtlActionButton:hover {
      border: 1px solid #eeeeee;
      border-radius: .3em;
      background: #e6e6e6; }
  .RadTreeList_VegiJ .rtlIcon {
    color: #333333; }
  .RadTreeList_VegiJ .rtlExpand,
  .RadTreeList_VegiJ .rtlCollapse {
    left: 0;
    top: 0;
    border: 0 none; }
    .RadTreeList_VegiJ .rtlExpand:hover,
    .RadTreeList_VegiJ .rtlCollapse:hover {
      border: 0 none;
      background: none; }
  .RadTreeList_VegiJ.RadTreeListRTL .rtlExpand,
  .RadTreeList_VegiJ.RadTreeListRTL .rtlCollapse {
    margin-right: -.425em; }
  .RadTreeList_VegiJ .rtlCollapseIcon {
    color: #006633; }
  .RadTreeList_VegiJ .rtlCollapseIcon:before {
    content: '\E002'; }
  .RadTreeList_VegiJ .rtlExpandIcon:before {
    content: '\E000'; }
  .RadTreeList_VegiJ .rtlAddIcon:before {
    content: '\E039'; }
  .RadTreeList_VegiJ .rtlEditIcon:before {
    content: '\E0D5'; }
  .RadTreeList_VegiJ .rtlUpdateIcon:before {
    content: '\E037'; }
  .RadTreeList_VegiJ .rtlDelIcon:before,
  .RadTreeList_VegiJ .rtlCancelIcon:before,
  .RadTreeList_VegiJ .rtlClosePopUpIcon:before {
    content: '\E038'; }
  .RadTreeList_VegiJ .rtlSortDescIcon:before {
    content: '\E00D';
    margin-top: -.56em; }
  .RadTreeList_VegiJ .rtlSortAscIcon:before {
    content: '\E00E'; }
  .RadTreeList_VegiJ .rtlPagerCell {
    color: #333333;
    background: #f5f5f5;
    border-top: 1px solid #dddddd; }
    .RadTreeList_VegiJ .rtlPagerCell .rtlWrap {
      padding: 0; }
    .RadTreeList_VegiJ .rtlPagerCell .rtlNumPart a,
    .RadTreeList_VegiJ .rtlPagerCell .rtlPagerButton,
    .RadTreeList_VegiJ .rtlPagerCell .rtlActionButton {
      border-width: 1px;
      border-style: solid;
      box-sizing: content-box;
      border-color: #eeeeee;
      color: #333333;
      background-color: #ffffff;
      font-size: 1em; }
      .RadTreeList_VegiJ .rtlPagerCell .rtlNumPart a:hover,
      .RadTreeList_VegiJ .rtlPagerCell .rtlPagerButton:hover,
      .RadTreeList_VegiJ .rtlPagerCell .rtlActionButton:hover {
        border-color: #d0d0d0;
        color: #333333;
        background-color: #e6e6e6; }
    .RadTreeList_VegiJ .rtlPagerCell .rtlNumPart a,
    .RadTreeList_VegiJ .rtlPagerCell .rtlActionButton {
      margin: 0;
      width: 1.42857em;
      border-left-width: 0; }
    .RadTreeList_VegiJ .rtlPagerCell .rtlNumPart a {
      border-radius: 0;
      text-align: center; }
      .RadTreeList_VegiJ .rtlPagerCell .rtlNumPart a.rtlCurrentPage {
        border-color: #004d26;
        color: #ffffff;
        background-color: #006633; }
    .RadTreeList_VegiJ .rtlPagerCell .rtlPageFirst {
      border-left-width: 1px;
      border-radius: 0.28571em 0 0 0.28571em; }
    .RadTreeList_VegiJ .rtlPagerCell .rtlPageLast {
      border-radius: 0 0.28571em 0.28571em 0; }
    .RadTreeList_VegiJ .rtlPagerCell .NumericPages .rtlNumPart a:first-child {
      border-left-width: 1px;
      border-radius: 0.28571em 0 0 0.28571em; }
    .RadTreeList_VegiJ .rtlPagerCell .NumericPages .rtlNumPart a:last-child {
      border-radius: 0 0.28571em 0.28571em 0; }
    .RadTreeList_VegiJ .rtlPagerCell .rtlActionButton {
      box-sizing: content-box; }
    .RadTreeList_VegiJ .rtlPagerCell .rtlPagerButton {
      border-radius: 0.28571em; }
  .RadTreeList_VegiJ .rtlREdit [type="text"],
  .RadTreeList_VegiJ .rtlEditForm [type="text"] {
    padding-top: 0;
    padding-bottom: 0;
    height: 32px;
    border: 1px solid #dddddd;
    border-radius: .3em; }
  .RadTreeList_VegiJ .rtlEditForm {
    font: 14px/1.42857 "Helvetica Neue", Helvetica, Arial, sans-serif;
    border: 1px solid #dddddd; }
    .RadTreeList_VegiJ .rtlEditForm [type="text"] {
      margin-bottom: .3em;
      margin-left: .3em; }
    .RadTreeList_VegiJ .rtlEditForm table {
      margin: .5em; }
    .RadTreeList_VegiJ .rtlEditForm .rtlHeader {
      padding: 0.64em 0.5em; }
  .RadTreeList_VegiJ.RadTreeListRTL .rtlExpand,
  .RadTreeList_VegiJ.RadTreeListRTL .rtlCollapse {
    margin-right: -.425em; }
  .RadTreeList_VegiJ.RadTreeListRTL .rtlExpandIcon:before {
    content: '\E003'; }

.TreeListReorderTop_VegiJ,
.TreeListReorderBottom_VegiJ {
  font-size: 2.2em;
  color: #000;
  text-shadow: 0 0 1px #fff;
  text-indent: 2px; }

.TreeListToolTip_VegiJ {
  border-color: #828282;
  background: #ffffff;
  color: #333333; }
