<?xml version="1.0"?>
<configuration>
  <system.web>
    <authorization>
      <allow roles="admin"/>
      <deny users="*"/>
    </authorization>
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ApiURIs-ISAPI-Integrated-4.0"/>
    </handlers>
  </system.webServer>
</configuration>
